.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-image___preview {
  height: 200px;
  width: 110px;
}

.fighter-preview_property{
  font-family: 'Courier New', Courier, monospace;
  font-size: 19px;
  color: gold;
}